body {
    box-sizing: border-box;
    background: cornflowerblue;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 2rem;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 2px;
}

.card img {
    width: 100%;
}

.modal-outer {
    display: grid;
    background: hsla(281, 68%, 50%, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal-inner {
    max-width: 600px;
    min-width: 400px;
    background: white;
    padding: 2rem;
    border-radius: 5px;
    min-height: 200px;
}