body {
    box-sizing: border-box;
    background: cornflowerblue;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 2rem;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 2px;
}

.card img {
    width: 100%;
}

.modal-outer {
    display: grid;
    background: hsla(50, 100%, 50%, 0.7);
}